:root {
  --color-neutral-light: #1e4b00;
  --color-neutral-dark: #734f00;
  --color-primary: #006253;
}

html {
  font-size: 62.5%;
  font-family: "Bree Serif", serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    var(--color-neutral-light),
    var(--color-neutral-dark)
  );
  display: grid;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 1.6rem;
  min-height: 100vh;
  place-content: center;
}

.cc {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

@media (min-width: 800px) {
  .cc {
    flex-direction: row;
    gap: 6.4rem;
  }
}

form {
  max-width: 100%;
  width: 260px;
  color: white;
}

fieldset {
  border: none;
  padding: 0;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr;
}

legend {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  padding: 0;
}

label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Source Sans 3";
  font-size: 1.8rem;
  padding: 0.4rem 0;
  width: 100%;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
}

input[type="text"]:focus {
  border-color: var(--color-primary);
}

input[type="submit"] {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.2rem;
  color: black;
  cursor: pointer;
  font-family: "Source Sans 3";
  font-size: 1.8rem;
  justify-self: start;
  margin-top: -1.6rem;
  padding: 0.8rem 1.6rem;
}

input[type="submit"]:disabled {
  background-color: rgba(255, 255, 255, 0.872);
  color: rgba(53, 53, 53, 0.5);
}

.fieldgroup {
  grid-column: 1 / -1;
  margin-bottom: 1.6rem;
}

.fieldgroup--half {
  grid-column: unset;
}

.cc__card {
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  width: 42rem;
  z-index: 1;
  background: linear-gradient(#c1d9eb, #1524ab);
}

.cc__logo {
  margin-bottom: 1.6rem;
  width: 3.6rem;
}

.cc__cardgroup {
  flex-grow: 1;
}

.cc__cardgroup--wide {
  flex-basis: 100%;
}

.cc__card-label,
.cc__card-value {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.cc__card-value {
  height: 3.2rem;
  line-height: 3.2rem;
}

.cc__card-value--large {
  font-family: "PT Mono", monospace;
  font-size: 2.4rem;
  height: 4.8rem;
  line-height: 4.8rem;
}
